<!DOCTYPE html>
<html>
<head>
  <title>Rock-Paper-Scissors</title>
  <style>
  </style>
</head>
<body>
  <h1>Welcome to Rock-Paper-Scissors!</h1>  
  <p><strong>From <span><a href="https://en.wikipedia.org/wiki/Rock_paper_scissors" target="_blank">Wikipedia</a></span>:</strong></p>

  <p>
    Rock-paper-scissors (also known as paper, scissors, stone or other variants) is a hand game usually played between two people, 
    in which each player simultaneously forms one of three shapes with an outstretched hand.
  </p>
  <p>
    These shapes are:
    <ul>
      <li>"rock" (a closed fist)</li>
      <li>"paper" (a flat hand)</li>
      <li>"scissors" (a fist with the index and middle fingers extended, forming a V)</li>
    </ul>
  </p>
  <p>
    A player who decides to play rock will beat another player who has chosen scissors 
    ("rock crushes scissors" or sometimes "blunts scissors"), but will lose to one who has played paper 
    ("paper covers rock"); a play of paper will lose to a play of scissors ("scissors cut[s] paper"). 
    If both players choose the same shape, the game is tied and is usually immediately replayed to break the tie.
  </p>

  <h2>And they play...</h2>
  <table>
    <tr>
      <th></th>
      <th>Rock</th>
      <th>Paper</th>
      <th>Scissors</th>
    </tr>
    <tr>
      <th>Rock</th>
      <td>We tie</td>
      <td>We lose</td>
      <td>We win</td>
    </tr>
    <tr>
      <th>Paper</th>
      <td>We win</td>
      <td>We tie</td>
      <td>We lose</td>
    </tr>
    <tr>
      <th>Scissors</th>
      <td>We lose</td>
      <td>We win</td>
      <td>We tie</td>
    </tr>
  </table>

  <p>
    Originating from China and Japan, other names for the game in the English-speaking world include 
    roshambo and other orderings of the three items, with "rock" sometimes being called "stone".
  </p>
  <img src="images/Rock-paper-scissors.svg.png" alt="Description of the image">
  <p>A chart showing how the three game elements interact</p>
  <img src="images/Kitsune-ken_(狐拳),_Japanese_rock-paper-scissors_variant,_from_the_Genyoku_sui_bento_(1774).jpg" alt="Description of the image">
  <p>Kitsune-ken was a popular Japanese rock–paper-scissors variant.</p>
  <img src="images/640px-Mushi-ken_(虫拳),_Japanese_rock-paper-scissors_variant,_from_the_Kensarae_sumai_zue_(1809).jpg" alt="Description of the image">
  <p>
    Mushi-ken, the earliest Japanese sansukumi-ken game (1809). 
    From left to right: slug (<em>namekuji</em>), frog (<em>kawazu</em>), and snake (<em>hebi</em>).
  </p>
</body>
</html>
